{% load static%}
<html>
<head>
  <title>Notifications</title>
  <link rel="stylesheet" href="{% static 'css/adminnotificationcontrol.css'%}">
</head>
<body>
<div class="content">
  <div class="container">
    <h1>Notifications</h1>
    <div class="notification-split">
      <div class="notification-list teacher-notifications">
        <h2>Teacher Notifications</h2>
        <div class="notification-actions">
          <a href="/Add_Notice_Teacher"><button id="add-teacher-notification-btn">Add New Notification</button></a>
        </div>
        <ul id="teacher-notification-list">
          <!-- files will be listed here -->
        </ul>
      </div>
      <div class="notification-list student-notifications">
        <h2>Student Notifications</h2>
        <div class="notification-actions">
          <a href="/Add_Notice_Student"><button id="add-student-notification-btn">Add New Notification</button></a>
        </div>
        <ul id="student-notification-list">
          <!-- files will be listed here -->
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>