{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/settimetable.css' %}">
</head>
<body class="ht">
  <div class="container">
    <header class="header">
      <h1>Select Timetable</h1>
      <p>Please select your preferred Subject and Teacher</p>
    </header>
    <div class="form-container">
      <form  action="/SettimeTable1" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label class="aa">Day:</label>
          <input type="text" class="input" value="{{day}}" name="Day" readonly>
        </div>

        <div class="form-group">
          <label class="aa">Period:</label>
          <input type="text" class="input" value="{{period}}" name="Period"readonly><br>
        </div>


        <div class="form-group">
          <label class="aa">Batch</label>
          <input type="text"  class ="input" value ="{{classname}}" name="Class_name">
        </div>


        <div class="form-group">
          <label class="aa">Teacher:</label>
          <select class="input" name="TeacherName">
            <option value="BSC" placeholder="Select Teacher"></option>
            
          </select>
        </div>

        <div class="form-group">
          <label class="aa">Select Subject</label>
          <select class="input" name="SubjectName">
            <option value="computer science" placeholder="Select Subject"></option>
          </select>
        </div>

        <div class="form-group">
          <label class="aa" name="StartTime">Period Starting Time</label>
            <input type="time" placeholder="Select Class"></option>
        </div>

        <div class="form-group">
          <label class="aa" name="EndTime">Period Ending Time</label>
            <input type="time" placeholder="Select Class"></option>
        </div>


        <div class="sub">
          <button type="submit" class="button">Submit</button>
        </div>
        
      </form>
    </div>
  </div>
</body>
</html>